body {
  background-color: coral;
  margin: 0px 0px 0px 0px;
}
.bagian-atas{
	margin-top: 3%;
}
.font-s{
	font-size: 12px;
}
#about{
	background-color: white;
    border-radius: 1%;
}
.footer{
	background-color: white;
    margin-top: 2%;
    padding-top: 3%;
    height: 100px;
}
#poto{
	    width: 95%;
    padding-top: 5%;
    padding-left: 5%;
}